* {
  box-sizing: border-box;
}
body { 
		background-color: #9BBFAB;
		
		}
#wrapper { 
			width: 80%;
			margin: auto;

		}
		
header { 
	margin: auto;
	padding: none;
	background-color: #008000;
	color: #FFFFFF; 
	font-family: Rockwell;
	font-size: 40px;
	font-weight: bold;
	}


	
.floatleft { 
			float: left;
			width: 155px;
			padding: 5px;
			text-align: center;
			position: fixed;
		}
.floatright { 
			float: right;
			width: 220px;
			padding: 5px;
			position: fixed;
			text-align: center;
			margin-left: 1020px;
		}	
main { 
		margin: 0px 240px 0px 160px;
		display: block;
		background-color: #2D5E47;
	}
footer {
	width: 80%;
	text-align: center;
	font-style: italic;
	}
.leftnav {
		border-radius: 50px;
		padding: 10px;
		background-color: #008000;
		color: white;
		font-family: "Arial Rounded MT Bold";
		font-size: 24;
		text-align: center;
		text-decoration: none;
	}
.rightnav {
		border-radius: 50px;
		padding: 10px;
		background-color: #008000;
		color: white;
		font-family: "Arial Rounded MT Bold";
		font-size: 24;
		text-align: center;
		text-decoration: none;
	}
. jog {
		float: left;
		position: fixed;
		repeat: no-repeat;		
		}
. food {
		float: right;
		position: fixed;
		repeat: no-repeat;		
		}
h2 {
	color:#ccffcc;
	font-family: "Bahnschrift SemiBold";
	margin: 0px 0px 0px 50px;
	padding-top: 10px;
	}
form {
		padding-bottom: 0px;
		width: auto;
	}
fieldset {
		
			width: 790px;
			border: 2px ridge #ff0000;
			clear: both;
			margin-left: 50px;
			margin-bottom: 10px;
			background-color: #ccffcc;
		}

legend {font-family: "Comic Sans MS";
		font-weight:bold;
		font-size: large; 
		color: black;
		}
label {
		font-family: "Comic Sans MS";
			font-size: 26;
			color: #003300;
			float: left;
			width: 120px;
			margin-top: 15px;
			clear: left;
			text-align: right;
			padding-right: 10px;
			
		}
input {
		margin-top: 16px;
		font-size: 26;
		font-family: "Comic Sans MS";		
		}
select {
		float: left;
		clear: left;
		margin: 0px 0px 0px 50px;
		padding-right: 10px;
		font-size: 26;
		}
.feet {
		margin-left: -30px;
		color: #888;
		}
.inches {
		margin-left: -45px;
		color: #888;
		}
.weight {
		margin-left: -30px;
		color: #888;
		}
.top {
		margin: auto;
		padding-top: 10px;
	}
#caldes {
		margin: 25px 25px 0px 620px;
		float: right; 
		}
.caldes2 {
		margin-left: 25px;
		margin-right: 25px;
		color: #ccff99;
		line-height: 120%;
		font-size: 14pt;
		text-align: justify;
		text-indent: 50px;
		}
.column {
		float: left;
		padding: 5px;
		}
.cleft {
		float: left;
		height: 100%;
		width: 70%;
		}
.cright {
		font-family: Tahoma;
		font-weight: bold;
		padding: 40px 30px 0px 0px;
		text-align: justify;
		float: right;
		height: 100%;
		width: 30%;
		}
.row:after {
		content: "";
		display: table;
		clear: both;
		}
.col1 {
		float: left;
		height: 250px;
		width: 31%;
		background-color: #F9F4F4;
		color: black;
		font-family: Arial;
		font-size: 14;
		line-height: 125%;
		border: 1px solid green;
		margin: 0px 5px 0px 10px;
		}
.col2 {
		float: left;
		height: 250px;
		width: 31%;
		background-color: #F9F4F4;
		color: black;
		font-family: Arial;
		font-size: 14;
		line-height: 125%;
		border: 1px solid green;
		margin: 0px 5px 0px 10px;
		
		}
.col3 {
		float: left;
		height: 250px;
		width: 31%;
		background-color: #F9F4F4;
		color: black;
		font-family: Arial;
		font-size: 14;
		line-height: 125%;
		border: 1px solid green;
		margin: 0px 5px 0px 10px;		
		}
.corner {
		float: right;
	<!--	position: absolute;
		top: 3%;
		left: 75%;
		bottom: 60%; -->
		}
.small {
		padding-bottom: 10px;
		font-family: Arial;
		font-size: 9pt;
		padding-left: 60px;
		}
table {
		border-collapse: collapse;
		margin-left: 60px;
		
	}
.t1 {
	
	padding-left: 60px;
	padding-bottom: 15px;
	color: white;
	font-family: Arial;
	}
td, th{
	border: 1px solid black;
	}
p, h2 { 
	color: #ffffcc;
	
	}
.line {
		border-bottom: solid;
	}
.clearfix::after {
			content: "";
			clear: both;
			display: table;
			}
.img1 {
		float: right;
		padding: 10px;
	}

